:root {
/*    --background-color: #0b0e20;*/
    --background-color: #121212;
    --text-color: #f0c8c8;
}

h1 {
    text-align: center;
}

#intro {
    text-align: center;
}

body {
    background-color: var(--background-color);
    color:  var(--text-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Making changes to link style */
a:link {
    color: #ff3c3c;
    text-decoration:none;
}

a:visited {
    color: #a333ff;
}